{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.session.flashbag.get('msg') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center pb-4 pt-3">
                        <span class="text-primary"><i class="fa fa-lock"></i> SmartCity</span> Connexion
                    </h1>
                    <form class="form" action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" required name="email" id="email"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required name="_password"
                                   id="password"
                                   placeholder="Mot de passe">
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success btn-round btn-lg btn-block">Se connecter
                            </button>
                        </div>
                        <div class="text-center mt-3">
                            <h6>
                                <span class="text-secondary">Pas de compte?</span>
                                <a href="{{ path('register') }}" class="link">Inscrivez-vous</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
