{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.session.flashbag.get('msg') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center pb-4 pt-3">
                        <span class="text-primary"><i class="fa fa-lock"></i> SmartCity</span> Inscription
                    </h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}