{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier une offre</h1>
            {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
