<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="#" class="navbar-brand">SmartCity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('tradings') }}" class="nav-link">Commerces</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('adverts') }}" class="nav-link">Pubs</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if is_granted("IS_AUTHENTICATED_FULLY")%}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-user"></i> {{ app.user.firstname }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('logout')}}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('register') }}" class="nav-link">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>