{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-10">
        <h1>Publicités</h1>
        <div class="row">
            {% for row in adverts | batch(3) %}
                <div class="card-deck">
                    {% for advert in row %}
                        <div class="card mb-2">
                            <div class="card-body">
                                {% if advert.type == constant('App\\Entity\\Advert::MEDIA_IMAGE') %}
                                    <img src="{{ asset(advert.webPath) }}" alt="{{ advert.title }}"
                                         class="card-img-top">
                                {% else %}
                                    <!-- 16:9 aspect ratio -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video class="embed-responsive-item" controls>
                                            <source src="{{ asset(advert.webPath) }}">
                                        </video>
                                    </div>
                                {% endif %}
                                <h5 class="card-title">{{ advert.title }}</h5>
                                <p class="card-text">{{ advert.description }}</p>
                                <a href="{{ path('edit_advert', {'id': advert.id}) }}"
                                   class="btn btn-primary">Modifier</a>
                                <a href="{{ path('delete_advert', {'id': advert.id}) }}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if adverts.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(adverts, 'twitter_bootstrap4_translated', {routeName: 'adverts_index_paginated'}) }}
        </div>
        {% endif %}
    </div>
    <div class="col-md-2">
        <a href="{{ path('add_advert') }}" class="btn btn-success btn-block"><i class="fas fa-plus-circle"></i>
            Ajouter</a>
    </div>
</div>
{% endblock %}
